<a href="<%= comment_url(comment) %>">
    <%= comment.content %>, 
    author: <%= comment.author.username %>, 
    created at: <%= comment.created_at %>
</a>

<ul>
<% @comments_hash.each do |p_id, comments| %>
    <% if p_id == comment.id %>
        <% comments.each do |comment| %>
            <li><%= render 'comment', comment: comment, comments_hash: @comments_hash %></li>
        <% end %>
    <% end %>
<% end %>
</ul>
