<a href="<%= comment_url(comment) %>">
    <%= comment.content %>, 
    author: <%= comment.author.username %>, 
    created at: <%= comment.created_at %>
</a>

<ul>
<% @comments_hash[comment.id].each do |comment| %>
    <li><%= render 'comment', comment: comment, comments_hash: @comments_hash %></li>
<% end %>
</ul>
