<h1><%= @post.title %> by <%= @post.author.username %></h1>
<p><%= @post.content %></p>

<a href="<%= edit_post_url(@post) %>">Edit Post</a>

<h4>Subs</h4>
    <ul>
        <% @post.subs.each do |sub| %>
            <li><a href="<%= sub_url(sub) %>"><%= sub.title %></a></li>
        <% end %>
    </ul>

<a href="<%= new_post_comment_url(@post) %>">Comment on this post!</a>

<ul>
    <% @post.comments.where(parent_comment_id: nil).each do |comment| %>
        <li>
        <a href="<%= comment_url(comment) %>"><%= comment.content %></a>
        <%= render 'comment', comment: comment %>
        </li>
    <% end %>
</ul>   